build/**
.vscode/**
.vscode-test/**
.shots/**
.github/**
docs/**
tools/**
src/**
test/**
out/**
node_modules/**
esbuild.js
tsconfig.json
**/*.map
**/*.ts
.gitignore
.gitattributes
.editorconfig
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

